.main {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;

  padding: var(--spacing-xxl);
}

.signup-donor-section {
  max-width: 1000px;
}

.intro {
  text-align: center;

  margin-bottom: var(--spacing-xl);
}

.title {
  font-weight: 700;

  color: rgb(var(--color-primary-accent));

  margin-bottom: var(--spacing-xs);
}

.description {
  font-size: var(--fontsize-md);
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--spacing-xl) var(--spacing-xl);
  margin-bottom: var(--spacing-xl);

  background-color: rgb(var(--color-primary-bg));
  border: 2px solid rgb(var(--color-border));
  border-radius: var(--radius-lg);
}

.signup-form {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-md);
}

.form-parts {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-sm);
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  gap: var(--spacing-sm);
}

.label-wrapper {
  display: flex;
  align-items: center;
  vertical-align: middle;

  gap: var(--spacing-xxs);
}

.info-item {
  position: relative;

  display: flex;
  align-items: center;

  font-size: var(--fontsize-sm);

  cursor: help;
}

.tooltip {
  position: absolute;
  bottom: 150%;
  left: 50%;

  width: 180px;
  padding: var(--spacing-sm);

  background-color: rgba(51, 51, 51, 0.6);
  backdrop-filter: blur(4px);
  color: #fff;
  border-radius: var(--radius-lg);

  font-size: var(--fontsize-xs);
  line-height: 1.4;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(10px);
  transition: opacity var(--transition-normal), transform var(--transition-normal), visibility var(--transition-normal);

  pointer-events: none;
  z-index: 100;
}

.tooltip::after {
  content: "";

  position: absolute;
  top: 100%;
  left: 50%;

  margin-left: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.info-item i {
  margin-top: -4px;
}

.info-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.info-item:hover i {
  color: rgb(var(--color-primary-accent));
}

.form-right textarea {
  min-height: calc((var(--spacing-sm) * 2) + (var(--fontsize-md) * 1.6) + var(--spacing-md) + 40px);
  height: 150px;

  resize: none;
}

.city-neighborhood-field {
  display: flex;

  gap: var(--spacing-sm);
}

.city-field {
  flex: 0.4;
}

.neighborhood-field {
  flex: 0.6;
}

.login-suggestion {
  text-align: center;
}

.return-suggestion {
  text-align: center;
}

@media (min-width: 1024px) {
  .main {
    padding: var(--spacing-lg) var(--spacing-xxl) var(--spacing-xxl) var(--spacing-xxl);
  }

  .form-parts {
    flex-direction: row;

    gap: var(--spacing-xl);
  }
}